<div class="container">
    <div class="row">
        <div class="col-12">
            <nav>
                <a href="/">chat</a><p>|</p><a href="/contact">contact</a>
            </nav>
        </div>
    </div>
    <div class="row chat-row">
        <div class="container col-4 offset-3 about">
            <div class="about-container">
                <div class="title">
                    <h1>
                    <span id="text-animation"></span>
                    </h1>
                </div>
                <div>
                    <p>This chat was made with the following languages and technologies:</p>
                       <br>
                        <p>Java Script</p>
                        <p>HTML/CSS</p>
                        <p>Node.js</p>
                        <p>Express JS</p>
                        <p>Socket.IO</p>
                        <p>Handlebars</p>
                        <p>Bootstrap</p>
                        <p>Nodemon</p>
                </div>
            </div>
        </div>
</div>

<script>
    const textElement = document.getElementById('text-animation');
const text = "Retro chat v.1.0";
let index = 0;

function typeWriter() {
  if (index < text.length) {
    textElement.textContent += text.charAt(index);
    index++;
    setTimeout(typeWriter, 100); // Adjust typing speed (milliseconds)
  }
}

typeWriter();
</script>