<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-12">
<nav><a href="/about">about</a><p>|</p><a href="/contact">contact</a></nav>
</div>
</div>
<div class="row chat-row">
    <div class="container col-4 offset-3">
<div class="chat-container">
    <div class="title">
        <h1>
            Retro chat v.1.0
        </h1>
    </div>
    <div class="message-logs" id="messageLogs"></div>
    <div class="chat-input">
        <input id="chatBox" placeholder="Type your message here..." class="styled-input">
        <button type="submit" id="send"><i class="fa fa-paper-plane-o"></i></button>
        </div>
    </div>
   </div>
</div>
</div>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>